body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Bravura';
  src: url('./fonts/Bravura.otf') format('opentype');
}

.editor {
  margin: 10px auto;
}

.staves {
  font-family: Bravura;
  font-size: 85px;
  display: block;
  margin: 1em auto;
}
